[2016-08-05 18:36] sudodoki opened #1 "Test Issue"

[2016-08-05 19:24] #1 closed, assigned to nobody

[2016-08-13 20:00] sudodoki opened #2 "Fall 2016. Ruby."
This issue is about
- [x] Course
- [ ] Event
- [ ] Project
- [ ] Other

By/for
- [x] kottans
- [ ] non-kottans

Subject: Ruby course in fall 2016.

Term/duration: 6 weeks

Keywords: offline, Kyiv, (Lviv?), (Kharkiv?), ruby, rails

We have few coaches @tilast, @ololyay, @darthrevan, @vessi. Need more coaches / guest coaches.
Work on program/test assignments/homeworks will be done [here](https://dri

[2016-08-14 06:02] suchov opened #4 "Fall 2016. Kottans Meetups in SF"
This issue is about
+ [ ] Course
+ [x] Event
+ [ ] Project
+ [ ] Other

By/for
+ [x] kottans
+ [x] non-kottans

Subject: Kottans - who we are, what ppl are interested in.

Term/duration: 2-3 hours

Keywords: offline, SF, JS, Ruby, Python

Work on the program of the event(I think my presentation will be the main one). Looking for a place.
Event link: [meetup.com event](https://www.meetup.com/Kottan

[2016-08-14 07:06] sudodoki commented on #4
No idea about what this `Open Learning` means. What is the `program` for meetups?

[2016-08-14 07:08] sudodoki commented on #2
@g3d might be interested in this as well

[2016-08-14 08:11] sudodoki commented on #2
Additional conversations happening in https://gitter.im/Kottans/ruby-slides

[2016-08-14 08:24] sudodoki opened #5 "Kyiv SICP study group"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [X] Other [Study Group]

By/for
+ [X] kottans
+ [x] non-kottans

Subject: Study group / reading club to go over [SICP](https://en.wikipedia.org/wiki/Structure_and_Interpretation_of_Computer_Programs) and exercises.

Term/duration: depends on pace of reading. Initial assumption – we go with one 'section' (second level numbering comprising

[2016-08-14 08:25] sudodoki commented on #5
Start date is going to be (supposedly) September 1st (because it's thursday and day of knowledge)

[2016-08-14 08:26] sudodoki commented on #5
Write here if you are interested. I believe, this would be first come / first serve type of thing and main coordination will be either in gitter or skype – we'll figure it out later.

[2016-08-14 09:09] sashashakun commented on #5
Such a great idea. I would participate with pleasure, if I lived in Kiev. Unfortunately, I am not. So, good luck, guys!

[2016-08-14 09:17] KBoyarchuk commented on #5
Like Kottan who lives in Kharkov would gladly participated, if there was such a possibility.

[2016-08-14 10:20] vessi commented on #5
I am in

[2016-08-14 11:44] programulya commented on #5
If you start 'Algo' books I'll join, ping me please if you have any plans about this 👍

[2016-08-14 12:13] firec0der commented on #5
![oenguin](http://i.giphy.com/Y81Q5iFwJj8qs.gif)

[2016-08-14 18:12] sudodoki commented on #2
Maybe, just maybe, @firec0der might be interetested.

[2016-08-14 20:18] robobee commented on #5
Great idea, guys, I'd love to participate!

[2016-08-14 20:56] firec0der commented on #2
I'd like to join this party but I have a lot of other activities. So, I'm not sure.

[2016-08-14 21:58] suchov commented on #4
I think about creating a series of meetups and find guys that I can create a course/events with.

[2016-08-15 05:10] g3d commented on #2
:+1: I'm in

[2016-08-15 09:08] tilast commented on #2
@g3d 🎉  let's have a call on this week

[2016-08-15 09:16] vessi commented on #4
@suchov, can you edit your issue according to issue template? please take a look on another issues :)

[2016-08-15 16:16] sudodoki commented on #5
https://twitter.com/darkproger/status/765189330637905921

[2016-08-15 16:17] sudodoki commented on #5
@robobee please, send me an email to smd.deluzion@gmail.com, need some way to communicate with you other than github

[2016-08-15 16:19] suchov commented on #4
ok @vessi

[2016-08-15 19:40] AlexMost commented on #5
I'm in !

[2016-08-15 19:57] jetmind commented on #5
I'm interested too! Though, I'm halfway through the book already.

[2016-08-15 19:59] vharitonsky commented on #5
+

[2016-08-16 06:09] sudodoki commented on #5
@jetmind @AlexMost @vharitonsky same request as in https://github.com/Kottans/kottans-ongoing-projects/issues/5#issuecomment-239848759

[2016-08-16 19:20] ElegantElephant44 commented on #5
I'm interested!

[2016-08-16 20:40] sudodoki commented on #5
@ElegantElephant44 please, follow https://github.com/Kottans/kottans-ongoing-projects/issues/5#issuecomment-239848759

[2016-08-16 20:41] sudodoki commented on #5
I think that would conclude the people for the group. You are welcome to do same thing in different [thread](https://github.com/Kottans/kottans-ongoing-projects/issues/new) if you want to. Coordination for this issue will go through other means (email and then some group chat if everybody agrees), thus I'm closing this issue.

[2016-08-16 20:41] #5 closed

[2016-08-23 18:40] petrokoriakin commented on #2
Adding @skarm61 @SmyzerT and @iomelchenko to the thread. We are going to join the party from Kharkiv

[2016-08-23 19:45] tilast commented on #2
wow cool news

[2016-08-25 08:33] sudodoki commented on #4
still not sure what kind of Program could be here 😿 . What's the mission / idea here? Is it going to be series of talks or study course? Who's going to be lecturing/reading those?

[2016-08-25 22:03] suchov commented on #4
Don't cry @sudodoki, fixed, hope it's more clear now.

[2016-08-27 13:18] sudodoki opened #6 "Fall 2016. Workshop @ Kharkiv JS"
This issue is about
- [ ] Course
- [X] Event
- [ ] Project
- [ ] Other

By/for
- [ ] kottans
- [X] non-kottans

Subject: suggestion to conduct paid workshop at KharkivJS

Term/duration: One day (first half of November)

Keywords: paid workshop, offline, Kharkiv

Let's discuss this as community as I'm not sure how this would work given we are doing free stuff. Possibly, find someone who would do th

[2016-08-27 13:41] vessi commented on #4
@suchov @sudodoki here, i fixed it

[2016-08-27 13:43] vessi commented on #2
here, I fixed description

[2016-08-27 13:44] vessi commented on #6
this definitely should not be done under Kottans umbrella. we are principally free.

[2016-08-27 13:51] sudodoki commented on #6
Agreed, do you think I should put this off the agenda for call? Maybe, someone would be ok to pick it up?

[2016-08-27 13:58] vessi commented on #6
putting this off the agenda for the call means that noone will even take care of this. let's leave this in agenda, this will increase chances to perform event

[2016-08-27 16:36] vessi commented on #2
Summary of call: 27.08.2016

+ Kharkiv Kottans will have meeting at 29.08.2016
+ Lviv was absent on call, @g3d, please connect with me separately
+ At 31.08.2016 we will agree final high-level program for courses
+ @ololyay will create description of test task
+ @vessi will create lecture about process management before 03.09.2016
+ Courses will be anounced at 10.09.2016
+ Test task will be limite

[2016-08-29 20:00] petrokoriakin commented on #2
The meeting in Kharkiv had taken place.
- The program and the format of community driven education is clear and there should not be a lot of problems. @petrokoriakin to find a place for lectures and discuss a set of promo-events with Kharkiv coaches.
- A question from @petrokoriakin : **Is it fine to establish additional activity in the Kharkiv?** To gather real life experience and a feedback from

[2016-08-29 20:04] zverok commented on #2
Another question from @zverok: чуваки, а правда-правда надо всё тут на техническом английском обсуждать?.. Учитывая что лекции и обсуждения в чятике всё же не на нём...

[2016-08-29 20:13] sudodoki commented on #2
Yep, that's how we roll.

[2016-08-30 08:23] vessi commented on #2
Just as an easy explanation: this experience also should be used by San Francisco based Kottans (as far as I remember @suchov planed something like that)

[2016-08-30 18:34] sudodoki opened #7 "Next JS Course"
This issue is about
- [x] Course
- [ ] Event
- [ ] Project
- [ ] Other

By/for
- [x] kottans
- [ ] non-kottans

Subject: next JS Course placeholder

Term/duration: whatever team decides to

Keywords: offline, Kyiv, JS

Regarding students level:
- can be either jun-to-middle as we had on previous courses
- can be just juniors
- can be middle-to-senior, with focus on widening the horizons

We are bu

[2016-08-30 18:36] sudodoki commented on #7
This would go into 'consideration' as soon as we get minimal required gang of 2 core coaches + coordinator.

[2016-08-30 23:53] suchov commented on #7
nice, @sudodoki !!!

[2016-08-31 06:43] sudodoki commented on #7
@suchov I'm not taking part in that (or if I do, only as a guest coach), just created issue on behalf of m1n0s. Do no need to thanks me.

[2016-08-31 11:14] g3d commented on #2
@kushniryb will join us in Lviv

[2016-08-31 19:31] sudodoki commented on #5
Everyone in the list in the issue's text should have gotten an email with details of the first (zeroth?) meeting.

[2016-08-31 20:02] suchov commented on #7
thanks @sudodoki I know about you plans, but you are still doing a lot for us!!!

[2016-09-05 10:17] mkozhukharenko commented on #7
@sudodoki @m1n0s can you describe details of the course? e.g.:
- what is a target audience (beginner/advanced)
- duration
- covered topics (in general)

[2016-09-05 11:01] m1n0s commented on #7
@mkozhukharenko no, I can't. Cause I only offered my possibilities for help in future course if it will be present. Actually I'm interested to teach other people for front-end, but for now I think that I haven't strong skills in any thin area of front-end (if cource will be advanced) and at the same time html&css&basic js occupied by @shvaikalesh (he said that he always allows for kottans).

But a

[2016-09-05 11:38] mkozhukharenko commented on #7
I'd like to be a coach in the course for beginners with a focus on core JS + basics of some framework. @m1n0s, I think you have enough knowledge in this area.
So, @sudodoki, you can count me as well.

[2016-09-05 11:53] m1n0s commented on #7
If it will be beginners course - I'm 100% in like a coach. But I think it should be hard hard selection of students because if there were so many strange people for advanced course - I'm afraid of many "Войти в ІТ" people for beginners.

[2016-09-05 12:42] mkozhukharenko commented on #7
@m1n0s I'd propose:
1) make a few small test of which can be checked automatically
2) make first part online (~1 month) with the emphasis on online discussion
3) select the most hardworking for the next offline part
It should help to save a lot of hours (no checking assignment tests 'by hand' and no interviewing).

[2016-09-05 13:12] m1n0s commented on #7
@mkozhukharenko I can't answer you now.
Also maybe @sudodoki know any good advices for beginners courses which can help make it good. Especially I didn't like online part, because is sooo much information for beginners in web.

Maybe we need some pre-advanced course.

[2016-09-17 18:14] sudodoki commented on #7
@mkozhukharenko I just added a section on possible levels, but it might be the case you would succeed with creating and gathering along team of coaches for JS101, focusing on creating more beginner-friendly courses, as previously we had feedback that our courses were not beginner enough.

[2016-09-17 19:14] suchov commented on #7
I'm just not sure that it should be JS101, Web101 maybe?
I have an idea to create one of those after I'll come back to UA. (December)

[2016-09-18 08:58] brain-geek commented on #2
I'm in as well (Kyiv).

[2016-09-19 18:30] suchov commented on #2
@zverok also we want to be able to share all the materials with the whole world, so ...

[2016-09-30 20:50] Quodnon opened #8 "Kottans offline math club"
This issue is about
- [ ] Course
- [ ] Event
- [ ] Project
- [x] Other

By
- [x] non-kottans

for
- [x] kottans
### [Survey](https://docs.google.com/forms/d/e/1FAIpQLSccSRN0z4jVcJtTO9BogaGXzN4IHbmgs173N7soHdksGmnGiQ/viewform)

Subject:  offline math  courses

Goal: improve kottan's math skills

Term/duration: _unknown_

Keywords: offline Kyiv,  math
#### Proposition:
- participation in [KPI math c

[2016-09-30 20:51] Quodnon commented on #8
another proposals for offline

+ offline group [scala and functional programming course](https://www.coursera.org/specializations/scala)

+ offline group [prometheus dataanalysis course cycle](http://prometheus.org.ua/dataanalysis/)

[2016-09-30 21:08] suchov commented on #8
oh, yes @Quodnon !
You rocks!

[2016-09-30 21:15] sudodoki commented on #8
@Quodnon

Yes, no need to have everything in single issue as it doesn't make sense (would suggest deleting the comment from here at all)

[2016-10-01 09:51] Quodnon commented on #8
@suchov @sudodoki  upd in current issue.

[2016-10-02 05:15] suchov commented on #8
Nope @Quodnon I don't see without mentioning.
Thanks for an update. Unfortunately, I can join only when I'll get back to Kiev(after 6th of December).

[2016-10-03 23:15] #4 closed

[2016-10-08 06:16] suchov opened #9 "web course"
This issue is about
- [x] Course
- [ ] Event
- [ ] Project
- [ ] Other

By/for
- [x] kottans
- [ ] non-kottans

Subject: Web course

[Not full discription yet](https://github.com/Kottans/web)

Term/duration: whatever team decides to

Keywords: offline, Kyiv, Web, JS, Python,

Regarding students level:
- can be either jun-to-middle as we had on previous courses
- can be just juniors
- can be middle

[2016-11-07 14:38] xanf commented on #7
Hi, guys! I'm in for next JS course and ready be as core and team coordinator.
I'm finishing a big 9-months course on "becoming a better mentor", and would like to try to integrate some practices I've learnt into course preparation, etc.

I have a prior agreement with @tirli and @Kanuny who are the part of my team with helping.
Also I'm looking for possibilities to bring Kottans at least to Minsk.

[2016-11-07 18:41] suchov commented on #7
@xanf It's all about capturing the world ;)
I'm in to help with the course in Kiev and can help with thinking about Minsk or Berlin.
Also, I hope that I'll have some experience from https://github.com/Kottans/kottans-ongoing-projects/issues/9 that we plan to start on January

[2016-11-07 18:43] suchov commented on #9
@tilast @zxftr45 I want to add you guys to this course too. What do you think?

[2016-11-07 19:23] zxftr45 commented on #9
I think I'm in but no sure how much time I'll have for it

[2016-11-07 23:06] tilast commented on #9
same for me, but I will be definitely available for few lectures/workshops

[2016-11-08 05:30] suchov commented on #9
thanks, guys

[2016-11-09 08:18] mkozhukharenko commented on #7
@suchov can you send a link to the draft of your curriculum? (I saw it one time in the gitter chat)

[2016-11-09 20:12] suchov commented on #7
@mkozhukharenko It'll be different from a regular Kottans courses - more self-driven. All that we have for now is in the readme here: https://github.com/kottans/web

[2017-01-07 12:52] sudodoki commented on #6
![image](https://cloud.githubusercontent.com/assets/1506905/21741759/e1d0bb6e-d4e8-11e6-8967-a28e28e23886.png)

Well, we didn't do anything long enough and we don't need to anymore.

[2017-01-07 12:52] #6 closed

[2017-01-07 12:54] sudodoki commented on #2
I assume as course already finished in 2 out of 3 cities, we can close this issue?
In case anyone needs it, some videos are available [here](https://www.youtube.com/playlist?list=PLr1siHsWN79Aj5I4e3ux-mjq7zVeTOCdp)

[2017-01-07 12:54] #2 closed

[2017-01-10 11:28] suchov opened #10 "Open start of Web course Kottans"
This issue is about
- [ ] Course
- [X] Event
- [ ] Project
- [ ] Other

By
- [X] kottans

For
- [X] kottans
- [X] non-kottans

Goal: Talk with future kottans what frameworks to use and when to use them.

Subject: What framework and when to choose, and why do you need a framework.
Some practical stuff about Django, Angular, PostgreSQL, Redis, Nginx, Docker, some things from AWS
[github](https://git

[2017-01-30 21:34] #10 closed

[2017-02-23 22:15] viattik commented on #7
hey!
not sure what's status on this.
I would definitely try to participate as both organizer and coach for JS course.
I don't have much experience both in coaching (other than just helping junior guys) and organizing courses, but I would give it a shot if somebody helps me with that and we have a team.

@suchov @sudodoki are you still not interested in leading / consulting this?
@xanf and are you

[2017-02-24 15:18] suchov commented on #7
@viattik will help with all what I can, but considering we have one more course going now - my abilities will be limited, but I can attack alumni, guest coaches, and help with organization. @xanf was interested in making it in Spring as I know + he wanted to bring it to Minsk somehow.

[2017-02-24 15:30] xanf commented on #7
Hi @viattik . Yes, I'm still interested in leading this, although it seems that dates will be shifted a bit.

I'm currently interested in organizing some more "core" locations, at least in Dnipro/Ukraine & Minsk/Belarus which may take a bit more time.

In any case, I'm still ready to lead this effort

[2017-02-24 22:30] viattik commented on #7
Then let's keep in touch. Just let me know whenever you will be ready.

[2017-04-09 09:36] sudodoki commented on #5
We have finished the book. It took us 7 months 8 days to complete, accounting for missing meetings / rescheduling / repeating same chapter on multiple meetings. 👍 thanks to everyone involved.

[2017-04-14 07:50] g3d opened #11 "Kottans + Pivorak = <3"
This issue is about
+ [x] Course
+ [ ] Event
+ [x] Project
+ [ ] Other

By/for
+ [x] kottans
+ [x] non-kottans

Subject: kottans + pivorak course with personal mentors and contribution to open source

Term/duration: min 8 weeks, starting from May

Keywords: offline, lviv, ruby, js,

We're going to combine traditional course and work in the team with bigger mentors amount on open source/new project

[2017-04-14 07:51] sudodoki commented on #11
🎉 👍 sounds good. Might want to use this thread as another point to communicate terms / registration / progress, etc. Any particular help you might be needing from others?

[2017-04-14 07:53] g3d commented on #11
@sudodoki we have thread in pivorak slack for communication between mentors, discussing final program, will update issue after offline meeting (happen between 18 & 21). Need PR support from kottans team.

[2017-04-14 13:49] suchov commented on #11
@g3d we can create a gitter channel for students & mentors if you need

[2017-04-22 11:43] #9 closed

[2017-04-24 19:24] sudodoki opened #12 "Kyiv AI:MA study group"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [X] Other [Study Group]

By/for
+ [X] kottans
+ [X] non-kottans

Subject: Study group / reading club to go over [AI: A Modern Approach](http://aima.cs.berkeley.edu/) and exercises.

Term/duration: depends on pace of reading. Initial assumption – we go with one chapter a week. It will span 27 weeks at least.

Keywords: offline, Kyiv, read

[2017-04-24 20:07] AMashoshyna commented on #12
I'd like to participate

[2017-04-24 22:12] fitnessyulya commented on #12
I'd like too

2017-04-24 23:07 GMT+03:00 Anastasiya Mashoshyna <notifications@github.com>:

[2017-04-25 10:06] suchov commented on #12
I'm in!

[2017-04-25 10:10] suchov commented on #8
@Quodnon is this project still going?

[2017-04-25 10:20] Alimova commented on #12
+1
Are there any requirements? Books to read before course, things to learn?

[2017-04-25 10:28] Veligura commented on #12
+1

[2017-04-25 10:42] sudodoki commented on #12
@Alimova

Dunno, depends on what you know already. Baseline is that no preliminary knowledge is required, but be ready to cover extra things if necessary on your own.

Previous club required 1-5 hours of work weekly. So, you'll need that. Not sure, how this one would turn out.

[2017-04-25 10:47] zonzujiro commented on #12
👍 +1

[2017-04-25 11:35] mgdskr commented on #12
I'd like to join

[2017-04-25 11:36] LiliVia commented on #12
+1 :)

[2017-04-25 12:24] Cath-kb commented on #12
+1

[2017-04-25 12:31] sudodoki commented on #12
There's already more people willing to join than spots available.
There are also people from SICP reading club that are in 100%.
It might be that we'll have to limit participants based on time of application, sorry about that.
And FYI, there's edx course that covers most of the book's topics https://www.edx.org/course/artificial-intelligence-ai-columbiax-csmm-101x-0

[2017-04-25 15:10] sudodoki commented on #12
Actually, something came up so yeah, it's all good, I think everyone who left comment can fit into the group.

I got only 2 emails so far, @fitnessyulya, @suchov, @Alimova, @Veligura, @mgdskr, @LiliVia, @Cath-kb please send it.

[2017-04-25 20:17] wack17s commented on #12
+

[2017-04-25 21:03] AlexPurhalo commented on #12
+1

[2017-04-29 12:59] g3d commented on #11
Made an opening during yesterday's pivorak, https://pivorak.com/ruby-course

[2017-05-03 18:55] g3d commented on #11
@sudodoki @suchov could you please share this https://pivorak.com/ruby-course together with other kottans?

[2017-05-04 06:45] suchov commented on #11
@g3d sure

[2017-05-09 18:29] sudodoki commented on #12
Please, check your inbox for initial coordination email.

[2017-05-18 08:25] AMashoshyna commented on #12
[Intro to Artificial Intelligence Class on Udacity](https://www.udacity.com/course/intro-to-artificial-intelligence--cs271) by Peter Norwig & Sebastian Thrun
I'm listening to Lesson 1 and I like the mentor very much so far

[2017-06-04 18:13] sudodoki commented on #12
Closing this issue. You are welcome to do same thing in different [thread](https://github.com/Kottans/kottans-ongoing-projects/issues/new) if you want to. Coordination for this affair will go through other means, thus I'm closing this issue.

[2017-06-04 18:13] #12 closed

[2017-07-04 09:25] Sestri4kina opened #13 "Data structures and algorithms offline club/course"
This issue is about
+ [x] Course (if there are mentors who are willing to teach the subject)
+ [ ] Event
+ [ ] Project
+ [x] Other: Study club

By/for
+ [x] kottans
+ [x] non-kottans

Subject: Data structures and algorithms (preferably in Python) offline club/course

Term/duration: unknown

Keywords: offline, Kyiv, Python (or Java)

What do we need to reach the goal:

- decide on a source of learn

[2017-07-04 13:34] kaflan commented on #13
Я бы походил

[2017-07-06 10:17] suchov commented on #7
Hey, guys, new registration started: https://goo.gl/tqUtDu
The course will start mid-September.
@shvaikalesh creating a written plan right now, it's in our head yet :)
@viattik @xanf @mkozhukharenko @sudodoki

[2017-07-06 10:38] AMashoshyna commented on #7
@suchov @shvaikalesh I'd like to help (I'm good with texts & similar stuff)

[2017-07-06 10:47] m1n0s commented on #7
@suchov why you didn't tag me as well? 😸 I'm still interested in telling a few lectures for JS course.

[2017-07-06 11:41] viattik commented on #7
I'm still ready to coach and help with organization things.
just let me know what I can do.

[2017-07-06 12:20] viattik commented on #7
Also, Rails Reactor has a good room with a projector which we can use. Just approved that.
@suchov @shvaikalesh

[2017-07-06 12:32] shvaikalesh commented on #7
@suchov RR's office is far better located, I think we should have courses there.

[2017-07-06 12:35] m1n0s commented on #7
@shvaikalesh do you know that they are moved from city centre not long time ago?

[2017-07-06 12:37] tilast commented on #7
@m1n0s RR office is not far from Palats Ukraina or Olimpiyska stations

[2017-07-06 12:40] m1n0s commented on #7
@tilast Yes, I know :) Anyway it's much better than Cogniance office location. Just want to @shvaikalesh to be familiar with this fact.

[2017-07-06 14:22] fomenkosmart commented on #13
Interested in using Python for ML and BD

[2017-07-24 06:32] sudodoki commented on #13
@Sestri4kina is there any other conversation happening elsewhere? Otherwise might suggest doing
1) limiting choice to either [Cormen](https://mitpress.mit.edu/books/introduction-algorithms) or [Skiena](https://www.amazon.com/Algorithm-Design-Manual-Steven-Skiena/dp/1848000693) so it's subset of 'choose the book' problem
2) if you go with the study group, be prepared to have 80% of people 'falling

[2017-07-30 20:58] programulya commented on #13
Cooool! How about https://www.amazon.com/Algorithms-4th-Robert-Sedgewick/dp/032157351X?

[2017-08-23 09:44] sudodoki commented on #11
AFAIK, this is either over or almost over. @g3d any write-ups / thoughts you might be willing to share with community? Either here or on some platform, like DOU?

[2017-09-15 18:13] suchov opened #14 "Kottans frontend course"
This issue is about
+ [X] Course
+ [ ] Event
+ [ ] Project
+ [ ] Other

By/for
+ [X] kottans
+ [ ] non-kottans

Subject: Course for future Kottans that start from very beginning learning front-end

Term/duration: December 1st 2107 - December 1st 2018

Keywords: offline, Kiev, CSS, HTML, JS, Frameworks, HTTP, Git, Console, Linux Basics, Spead Reading/Learning

~~What do we propose and what do we ne

[2017-09-15 18:17] suchov opened #15 "NodeSchool events"
This issue is about
+ [ ] Course
+ [X] Event
+ [ ] Project
+ [ ] Other

By/for
+ [ ] kottans
+ [X] non-kottans

Subject: [https://nodeschool.io/](https://nodeschool.io/)

Term/duration: We are planning the first event, will be updated.

Keywords: Offline, Kiev

Regular NodeSchool events.

[2017-10-04 19:39] Avvata commented on #7
Hi, kottans, is it possible to join your Front End 2017 course in Kiev? The registration form is already closed((

[2017-10-04 19:54] sudodoki commented on #7
@Avvata no, but you might want to check out #14

[2017-10-04 20:02] Avvata commented on #14
Hi, guys! How can I register for this course?

[2017-10-04 20:10] AMashoshyna commented on #14
Hi @Avvata! The registration for this course is not yet open. Please follow @kottans_org on Twitter for updates.

[2017-10-04 20:49] suchov commented on #14
@Avvata you even can start doing the test tasks https://github.com/Kottans/frontend but about registration we'll announce later on Twitter, that's true.

[2017-10-04 20:53] Avvata commented on #14
I've understood. Thank you!

[2017-10-24 19:49] g3d commented on #11
Hey guys, we finished the course. Here is post with photos: https://www.facebook.com/pivorak.ruby.course/posts/155757251644109, give them a try, find kottans logo on certificates/t-shirts.

[2017-10-25 15:33] sudodoki commented on #11
Closing this for now then. ^_^

[2017-10-25 15:33] #11 closed

[2017-10-29 09:01] sudodoki commented on #7
Ok, considering this one done for now as one course in progress, and another one the autonomous one is residing in another issue (https://github.com/Kottans/kottans-ongoing-projects/issues/14 / https://github.com/Kottans/frontend). And some of you might be good fit and have fun mentoring at nodeschool event - https://github.com/Kottans/kottans-ongoing-projects/issues/15

[2017-10-29 09:01] #7 closed

[2017-11-30 22:46] AMashoshyna opened #16 "Tech Terms Advent Calendar 2017"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [X] Other

By/for
+ [X] kottans
+ [X] non-kottans

#### Subject: Tech Terms Advent Calendar

Term/duration: 01.12.2017 - 25.12.2017

Keywords: online, puzzles

Idea by @sudodoki
Tech advent calendar initiative comes from traditional Christian [Advent calendars](https://en.wikipedia.org/wiki/Advent_calendar). In tech community advent cale

[2017-12-03 15:02] sudodoki commented on #16
December 1 https://twitter.com/kottans_org/status/936558165692436480
December 2 https://twitter.com/kottans_org/status/936903223746555904
December 3 https://twitter.com/kottans_org/status/937298531056046080
Not sure if need to duplicate those here 🤔

[2017-12-04 10:25] AMashoshyna commented on #16
@sudodoki good idea, thank you!

[2017-12-14 20:19] sudodoki commented on #8
Considering this inactive.

[2017-12-14 20:19] #8 closed

[2017-12-15 04:06] Quodnon commented on #13
- [Poll](https://goo.gl/forms/wt1n70pGJNqAXckl2) created for gathering info. Access is given to OP @sudodoki  and @suchov
- +1 👍  for Skiena: lots of exercises

[2017-12-15 11:15] AntonLebiodkin commented on #13
Great idea! Once a week with study groups (possibly teams, which present each chapter) will be good.

[2017-12-15 11:22] Komachka commented on #13
Sounds great! I would like to)

[2017-12-15 15:38] Quodnon commented on #13
The poll will be opened for **2 more days**.
Currently 8 of 11 people interested in MOOC. Nobody wants Skiena 🐳
As for  MOOC, there are 2 **[oss courses](https://github.com/ossu/computer-science#core-theory)** regarding algorithms.

===
📆 Suitable time to kick-off for *me*: end of January 2018. After holidays
🕐 **Waiting**: poll  close
🚶 🚶‍♀️ **Next step**: deside on format.  @AMashoshyna
❗️ **Hel

[2017-12-15 15:51] Quodnon commented on #13
join discussion about organizing course in [telegram](https://t.me/joinchat/C1v8eg9udVHwnHbha8fYIQ)

[2017-12-15 16:12] suchov commented on #13
@AMashoshyna @Quodnon  https://github.com/kottans/algorithm_club

[2017-12-15 16:15] suchov commented on #13
@sudodoki @AMashoshyna is an owners of the repo

[2017-12-19 12:27] sudodoki opened #17 "Kyiv ESL study group"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [X] Other [Study Group]

By/for
+ [X] kottans
+ [X] non-kottans

Subject: Study group / reading club to go over [The Elements of Statistical Learning](http://www.springer.com/gp/book/9780387848570) (ESL).

Term/duration: depends on pace of reading. Initial assumption – we go with one chapter a week. It will span 18 weeks at least. I thin

[2017-12-19 21:19] mgdskr commented on #17
👍+1

[2017-12-20 20:37] BUsatov commented on #17
+1

[2017-12-25 09:58] AMashoshyna commented on #16
Calendar is done for this year

[2017-12-25 09:58] #16 closed

[2017-12-25 11:09] suchov commented on #16
thank you @AMashoshyna & @sudodoki for this adventure

[2017-12-29 05:31] alexeymazurik commented on #17
+1

[2018-01-09 14:07] Yevs commented on #17
+1

[2018-01-09 14:12] h8is2w8 commented on #17
+1

[2018-01-19 11:16] sudodoki commented on #17
Ok, seems we now have all the group members. First meeting is tomorrow. Further coordination is done through telegram group. Closing this issue.

[2018-01-19 11:16] #17 closed

[2018-01-19 12:39] hmlON commented on #17
@sudodoki Is there any way to get into this telegram group and into ESL study group?

[2018-03-21 16:29] alenakuznetsova opened #19 "Online English speaking club"
This issue is about
+ [ ] Course
+ [x] Event
+ [x] Project
+ [x] Other

By/for
+ [x] kottans
+ [x] non-kottans

Subject: Online English speaking club

Term/duration: unknown

Keywords: online, English

What do we propose and what do we need to reach the goal.

You should write your data in [table](https://docs.google.com/spreadsheets/d/17jy3O6zcbbnSoKemOM9iadntv_qXKkELBEl2Zeu0lPQ/edit#gid=0) after

[2018-03-26 15:44] alenakuznetsova opened #20 "Job interview questions"
This issue is about
+ [ ] Course
+ [x] Event
+ [ ] Project
+ [x] Other

By/for
+ [x] kottans
+ [ ] non-kottans

Subject: Meeting for discussing questions from job interview for future job interview

Term/duration: unknown

Keywords: offline, Kiev, JS, HTML, CSS, React, Angular etc.

What do we propose and what do we need to reach the goal:

- [list](https://docs.google.com/spreadsheets/d/1FERZIQ-8

[2018-03-26 16:33] zonzujiro commented on #20
I'm in!

[2018-03-26 16:48] suchov commented on #20
@alenakuznetsova what do you think about moving the list to github?
Also, what do you think about using lists https://github.com/h5bp/Front-end-Developer-Interview-Questions that already exist?
On my opinion mosk interview is a great stuff to practice but better to use real-life questions :)

[2018-03-26 19:21] alenakuznetsova commented on #20
I agree, we can combine real-life questions, some sources with ready questions and use questions from our guys.

[2018-03-26 20:03] LiliVia commented on #20
Great idea! I'm in too :)

[2018-03-28 11:51] Alimova commented on #20
When is it? I would love to participate.

[2018-03-28 13:22] alenakuznetsova commented on #20
I think we can discuss all process on Saturday (31.03.2018) and choose date

[2018-03-31 01:50] shvaikalesh commented on #20
Count me in. I don't think we should make a list ourselves: we can use [A](https://github.com/h5bp/Front-end-Developer-Interview-Questions) or [B](https://github.com/yangshun/front-end-interview-handbook).

[2018-05-13 16:37] sudodoki commented on #17
@hmlON ¯\_(ツ)_/¯ sorry for not answering sooner. No.

[2018-05-13 16:39] sudodoki commented on #17
Seems that this group is no more – on March 18 we finished [ISL](http://www-bcf.usc.edu/~gareth/ISL/) instead of ESL (ESL was too difficult for this group).

[2018-07-14 07:46] sudodoki opened #21 "Study group to go over CS224n"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [X] Other

By/for
+ [X] kottans
+ [X] non-kottans

Subject: study group to go over [CS224n](http://web.stanford.edu/class/cs224n/). This is a rather challenging course, so consider going through first week suggested reading on [syllabus page](http://web.stanford.edu/class/cs224n/syllabus.html) to figure out whether you'll be comfortable

[2018-07-14 07:48] sudodoki commented on #21
Breakdown by weeks planned
[code]

[2018-07-14 13:10] mgdskr commented on #21
🔥 I am in

[2018-07-14 13:18] Veligura commented on #21
I am in too )))

[2018-07-14 14:48] cristaloleg commented on #21
Offline only :(

[2018-07-14 14:55] sudodoki commented on #21
@cristaloleg you can try setting similar thing in your city

[2018-07-17 15:18] suchov commented on #21
@sudodoki what do you think about twitting about this study group?

[2018-07-19 14:45] mishahliba commented on #21
I am in

[2018-07-19 16:50] sudodoki commented on #21
@DmitryOlkhovoi
+ [x] leave a comment
+ [ ] write an email
One more thing to do

[2018-07-19 18:05] DmitryOlkhovoi commented on #21
@sudodoki looks like I' closed Gmail too soon and it didn't send anything. Done :)

[2018-07-20 07:21] ViktoriaSl commented on #21
+ I am in too

[2018-07-20 07:29] sudodoki commented on #21
We are set now. First meeting is this Sunday

[2018-07-20 07:29] #21 closed

[2018-07-20 08:26] yuriy-yarosh commented on #21
@sudodoki maybe there's one extra spot for me ?

[2018-07-20 08:40] sudodoki commented on #21
@yuriy-yarosh I would personally tag you as overqualified, you sure you wanna do this? Depending on answers of two other people, we might be over the capacity, yet you are welcome to join when someone drops the group

[2018-07-20 08:46] yuriy-yarosh commented on #21
Sure, but I've got some weak spots here and there, it worth recollecting some old stuff and the theory behind it.

Thanks, man.

[2018-10-23 07:30] suchov commented on #14
The course has successfully finished.

[2018-10-23 07:30] #14 closed

[2018-10-23 07:53] suchov opened #22 "Front End 2019 course"
This issue is about
+ [X] Course
+ [ ] Event
+ [ ] Project
+ [ ] Other

By/for
+ [X] kottans
+ [ ] non-kottans

Subject: Course for beginner front-end developers mentored by previous course’s alumni

Term/duration: November 1st 2018 – June 1st 2019

Keywords: offline, Kiev, CSS, HTML, JS, web, frameworks, HTTP, Git, Console, Linux Basics, self-education

We propose to use and improve the previous

[2018-10-23 09:06] #13 closed

[2018-11-06 16:43] zonzujiro opened #23 "Translate first chapter of Up&Going of YDKNJS"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [x] Other

By/for
+ [x] kottans
+ [x] non-kottans

Subject:
Translate [Chapter 1: Into Programming](https://github.com/getify/You-Dont-Know-JS/blob/master/up%20%26%20going/ch1.md)

Term/duration:
I think we can start on 10.11.2018 - 11.11.2018. But this is a discussible moment.

Keywords: online/offline, translation

During a last fronte

[2018-11-06 16:47] yevhenorlov commented on #23
I feel attacked!

On a serious note, which language do we translate to, Russian or Ukrainian? Not meaning to provoke a heated argument, just curious.

[2018-11-06 16:50] sudodoki commented on #23
Just in case, there's a Ukrainian translation of Understanding ES6 https://github.com/LambdaBooks/understandinges6ua

[2018-11-06 16:57] mgdskr commented on #23
@zonzujiro have you seen this https://github.com/azat-io/you-dont-know-js-ru

[2018-11-06 17:01] zonzujiro commented on #23
I believe that most logical step is to continue work of LambdaBooks

[2018-11-06 17:14] #23 closed

[2018-11-09 07:55] suchov opened #24 "Online Frontend Course 2019"
This issue is about
+ [X] Course
+ [ ] Event
+ [ ] Project
+ [ ] Other

By/for
+ [X] kottans
+ [ ] non-kottans

Subject: Frontend course that can be taken fully online

Term/duration: non stop
Keywords: online, JS, HTML, CSS, possibly some React

Let me think about that: ~~What do we propose and what do we need to reach the goal.~~

[2019-03-30 10:45] suchov commented on #24
It's still going, the chat is here https://t.me/joinchat/A0fzFlJmLm-RUoyjMhV-_A

[2019-03-30 10:45] suchov commented on #22
It's still going, the chat is here https://t.me/joinchat/A0fzFlJmLm-RUoyjMhV-_A

[2019-03-30 10:46] #20 closed

[2019-03-30 10:48] suchov commented on #15
https://github.com/nodeschool/kyiv/issues

[2019-03-30 10:51] suchov commented on #24
@OleksiyRudenko can you pls assign junior mentors here too pls?

[2019-03-30 10:52] suchov opened #25 "Computer Science education by OSSU program"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [ ] Other
+ [X] Degree

By/for
+ [X] kottans
for
+ [X] non-kottans

Subject: We are going through the CS program created by OSSU together

Term/duration: from 1 to 4 years

Keywords: online Computer Science

We are learning the CS programme using online materials from the best universities together in the group. This way we are using the

[2019-03-30 15:12] suchov opened #26 "Career Path"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [X] Other

By/for
+ [X] kottans
+ [ ] non-kottans

Subject: efforts to help kottans better represent themselves on the labor market

Term/duration: indefinit?

Keywords: mostly offline, but online parts will be possible

~~What do we propose and what do we need to reach the goal.~~

[2019-03-30 19:52] OleksiyRudenko commented on #24
@suchov If you assignees to this issue I cannot for insufficient rights

[2019-03-30 23:15] suchov commented on #24
got it @OleksiyRudenko

[2019-03-30 23:17] suchov commented on #24
what about now @OleksiyRudenko

[2019-03-31 19:09] suchov opened #27 "RubySchool"
This issue is about
+ [ ] Course
+ [X] Event
+ [ ] Project
+ [ ] Other

By/for
+ [ ] kottans
+ [X] non-kottans

Subject: Start RubySchool movement around the world

Term/duration: Start a series of small events around the world

Keywords: Offline, in many cities.

~~What do we propose and what do we need to reach the goal.~~

[2019-03-31 19:44] suchov opened #28 "PythonSchool"
This issue is about
+ [ ] Course
+ [X] Event
+ [ ] Project
+ [ ] Other

By/for
+ [ ] kottans
+ [X] non-kottans

Subject: Start PythonSchool movement around the world

Term/duration: Start a series of small events around the world

Keywords: Offline, in many cities.

~~What do we propose and what do we need to reach the goal.~~

[2019-03-31 19:51] suchov opened #29 "Kottans site refactoring/re-design"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [X] Other

By/for
+ [X] kottans
+ [ ] non-kottans

Subject: we are moving forward slowly :)

Term/duration: oh, man

Keywords: offline/online/jekyll

~~What do we propose and what do we need to reach the goal.~~

[2019-03-31 19:55] suchov opened #30 "Python Course?"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [ ] Other

By/for
+ [ ] kottans
+ [ ] non-kottans

Subject: ~~short sentence describing initiative~~

Term/duration: ~~when is it going to take place or how long it might last~~

Keywords: ~~online/offline, city, technologies~~

~~What do we propose and what do we need to reach the goal.~~

[2019-03-31 19:55] suchov opened #31 "Go Course?"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [ ] Other

By/for
+ [ ] kottans
+ [ ] non-kottans

Subject: ~~short sentence describing initiative~~

Term/duration: ~~when is it going to take place or how long it might last~~

Keywords: ~~online/offline, city, technologies~~

~~What do we propose and what do we need to reach the goal.~~

[2019-03-31 20:04] OleksiyRudenko opened #32 "Input public event - a Kottanference"
This issue is about
+ [ ] Course
+ [x] Event
+ [ ] Project
+ [ ] Other

By/for
+ [x] kottans
+ [x] non-kottans

Subject: A conference for switchers and IT beginners

Term/duration: 1 day on Sat, 2019-05-25

Keywords: offline, Kyiv, conference

We want to gather 100-300 non-IT people and help them draw an action plan ку entering a profession in IT.

They will learn:
- stories from people who entere

[2019-03-31 21:10] denis-zavgorodny opened #33 "Kottans Chernivtsi Frontend Course 2019"
This issue is about
+ [x] Course
+ [ ] Event
+ [ ] Project
+ [ ] Other

By/for
+ [x] kottans
+ [ ] non-kottans

Subject: Frontend course for beginners

Term/duration: April 15 2019 – May 20 2019

Keywords: offline, Chernivtsi, CSS, HTML, JS, web, self-education

[GitHub url](https://github.com/kottans/chernivtsi-frontend-2019)

[2019-04-01 07:55] zonzujiro commented on #15
This is a dead event, IMO. No need in continue

[2019-04-01 15:29] suchov commented on #15
Wo-ho-ho. The rest of the world does not totally agree with you. https://nodeschool.io/
I think it really depends on how active is the community in the city...

[2019-04-07 18:28] AMashoshyna opened #34 "Python Study Group"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [x] Other

By/for
+ [x] kottans
+ [x] non-kottans

Subject: Study Group for Python beginners.
Term/duration: app.2 month starting on the 17th of April. Duration may be extended.

Keywords: python, study group

It is proposed to study book ["Automate Boring Stuff With Python"](https://automatetheboringstuff.com/#toc) together. The study g

[2019-04-07 18:38] suchov commented on #34
I'll definitely try to help where I can.
As a practical project, I can suggest to try to write some tasks for https://pythonschool.io/ :)

[2019-04-15 20:06] nazmariam opened #35 "Free JetBrains licences"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [x] Other

By/for
+ [x] kottans
+ [ ] non-kottans

Subject: JetBrains provides free licences for usergroups and communities

Term/duration: each month

Keywords: JetBrains, licence, free

JetBrains [supports](https://www.jetbrains.com/community/support/#section=communities) studying groups and communities with free licences each month (u

[2019-04-17 06:51] OleksiyRudenko commented on #35
Strongly backing the above.
@suchov do you believe we could ask someone having sufficient personal capacity to investigate the topic any further?

[2019-04-17 08:01] zonzujiro commented on #27
Gush 🙄 Just close it already. Who needs ruby anyway?

[2019-04-17 08:14] AMashoshyna commented on #27
Someone's toxic this morning =)

[2019-04-17 08:20] suchov commented on #27
https://www.youtube.com/watch?v=h6Ol3eprKiw

[2019-04-19 07:54] zonzujiro commented on #27
19 days have passed and no one left his comment. What a shame... 😢

[2019-04-27 12:03] zonzujiro commented on #27
27 days is gone. Looking forward to updates!

[2019-04-27 20:30] suchov commented on #27
Don't just wait, just do it ;)

[2019-11-21 10:09] #26 closed

[2019-11-21 10:10] #22 closed

[2019-11-21 10:10] #24 closed

[2019-11-21 10:10] #30 closed

[2019-11-21 10:10] #29 closed

[2019-11-21 10:10] #28 closed

[2019-11-21 10:11] #27 closed

[2019-11-21 10:11] zonzujiro commented on #27
I am terribly sorry... really...

[2019-11-21 10:11] #19 closed

[2019-11-21 10:12] #32 closed

[2019-11-21 10:13] #34 closed

[2020-01-29 09:42] zonzujiro opened #36 "RFC: Input ideas"
This issue is about
+ [ ] Course
+ [X] Event
+ [ ] Project
+ [ ] Other

By/for
+ [X] kottans
+ [ ] non-kottans

Subject: We need new ideas about how to make Input more interesting for us

Term/duration: none

Keywords: Input, Kyiv

So, with @OleksiyRudenko we came to the idea, that we can add some additional part to Input conference and, probably, make it more interesting for us to contribute our

[2020-01-29 09:47] Croftyland commented on #36
I got an idea to invite speaker from Germany. He is member of the
@webpack core team. Will be interesting for you?

[2020-01-29 09:49] zonzujiro commented on #36
For Input? Can be. What experience he can share with auditory?
And will he be interested in trainy/pre-trainy auditory?

[2020-01-29 09:54] Croftyland commented on #36
Not really,he is better for more advanced audience.

In case of input,I can invite girl from Facebook with interview topic

[2020-01-29 11:55] OleksiyRudenko commented on #36
Perhaps he might run a workshop on fine tuning webpack config? Beside speaking on some related and even more advanced topic

[2020-01-29 11:58] OleksiyRudenko commented on #36
But i agree on that technical conf even for beginners should be something different from INPUT aimed at those who are just entering the industry. Mix up won't work well.

Technical conf might be named e.g. INPUT: FE or INPUT: JS

[2020-01-29 12:02] zonzujiro commented on #36
IMO, such a guy can be a good candidate for tech conf with advanced speakers.
But we should discuss this format together next time

[2020-01-29 12:05] zonzujiro opened #37 "Core meeting agenda"
Where: Star
When: 22/02 15:00

During the next meeting we should discuss:

- a written procedure of how to collaborate with people, who want to conduct event
- Input conference - additional ideas https://github.com/kottans/kottans-ongoing-projects/issues/36
- conference for skilled developers
- future of the platform
- watching-party project in collaboration with RR and FB DevC
- Some small activi

[2020-01-29 12:13] Croftyland commented on #36
As for me, word "Input" is not suitable for advanced speakers. We should step away from this idea

[2020-01-29 12:40] zonzujiro commented on #36
@Croftyland RFC is about Input, jeez

[2020-01-29 14:22] AMashoshyna commented on #36
Interviewing visitors on JS sounds good to me. Last year we also had an idea to make CV workshop. But both are probably more interesting for visitors than for us.

[2020-01-29 14:48] OleksiyRudenko commented on #36
[Collection of topics of interest](https://docs.google.com/spreadsheets/d/1nQTwYrQR5YhMKBw3LNScPhyGMwbM7Jcwqz8zNLFjr_I/edit?usp=drivesdk) to our audience from a survey we conducted before launching INPUT

[2020-02-17 11:24] AMashoshyna commented on #37
Kottans FB support - goals and steps

[2020-02-18 11:37] OleksiyRudenko commented on #37
DevOps and/or GitHub/GitLab backed conf

[2020-02-19 15:00] OleksiyRudenko commented on #37
Vacancy posts principles

[2020-02-20 14:08] Croftyland commented on #37
Patreon

[2020-02-22 08:14] OleksiyRudenko commented on #36
Bodya Kovalchuk:

[2020-02-22 08:15] OleksiyRudenko commented on #36
Alex Lapshyn:

[2020-02-22 08:16] OleksiyRudenko commented on #36
Anna Alymova:

[2020-02-22 11:35] zonzujiro commented on #37
Final agenda:

## Conferences
1) Input - additional ideas https://github.com/kottans/kottans-ongoing-projects/issues/36
2) Conference for skilled developers @zonzujiro
3) DevOps and/or GitHub/GitLab backed conf, joint with [Fest Group](http://fest.group/) or [fwdays](https://fwdays.com/) @OleksiyRudenko

## Website, SMM and social platforms
1) Kottans FB support - goals and steps @AMashoshyna
2) V

[2020-02-22 13:35] #31 closed

[2020-02-22 13:35] #33 closed

[2020-02-22 13:36] #35 closed

[2020-02-22 13:38] #25 closed

[2020-02-22 13:38] #15 closed

[2020-02-22 13:56] AMashoshyna commented on #37
Action points:

## Platform

1. Collect topics for watching-party project @zonzujiro
2. Create questions for students in military school @AMashoshyna
3. Discuss rules for the chat with communities @OleksiyRudenko @zonzujiro
4. The written procedure of event - necessary data https://telegra.ph/Dannye-dlya-nachala-provedeniya-02-22
    - create the form in google from questions - @OleksiyRudenko

[2020-02-22 20:53] OleksiyRudenko opened #38 "INPUT Hardcore | May 2020"
This issue is created to expand on #37 ([comment](https://github.com/kottans/kottans-ongoing-projects/issues/37#issuecomment-589958607)) about
+ [ ] Course
+ [x] Event
+ [ ] Project
+ [ ] Other

By/for
+ [x] kottans
+ [x] non-kottans

Subject: Hardcore JS/FE topics

Term/duration: 1 full day conference, end of May 2020; ~150 attendees

Keywords: offline, Kyiv

Initial Action Plan:
1. ask sponsors

[2020-02-22 20:59] OleksiyRudenko commented on #38
On AP item 1:
As of 2020-02-22 per [dou.ua/calendar](https://dou.ua/calendar) the following **tech** events are scheduled:
- May 5 (Tue) - [Онлайн-курс «Основы тестирования ПО» от компании QATestLab](https://dou.ua/calendar/31410/)
- May 16 (Sat) - [Конференція Python fwdays’20](https://dou.ua/calendar/30622/)
- May 16 (Sat) - [Odesa Quality Assurance Day 2020](https://dou.ua/calendar/30939/)
- Ma

[2020-02-23 11:36] suchov commented on #36
https://github.com/kottans/kottans-ongoing-projects/issues/38

[2020-02-23 11:36] #36 closed

[2020-02-23 15:21] OleksiyRudenko commented on #36
@suchov how 'bout renaming this ticket as "INPUT 3" and reopening it? )

[2020-02-24 09:50] zonzujiro commented on #38
Link to finance info of Clojure Day - https://docs.google.com/spreadsheets/d/13pcenbrOgj0zWLbF-ofK5mTzJ-tfKXXzuNWMzoW-udI/edit?usp=sharing

[2020-02-24 10:09] zonzujiro opened #39 "Event in Kyiv Military Lyceum named after Ivan Bogun"
**This issue is about**
+ [ ] Course
+ [x] Event
+ [ ] Project
+ [ ] Other

**By/for**
+ [x] kottans
+ [x] non-kottans

**Subject:** Some event in military school

**Term/duration**: one or several lectures

**Keywords**: offline, one-time event

**Information:**
Create an event for scholars from military school.
The event will be at some weekend.
We can choose the day by ourselves.
We will have c

[2020-02-24 11:22] zonzujiro commented on #38
Preply will host us.

[2020-02-24 15:00] Croftyland commented on #39
@zonzujiro can you figure out:
1. When school is out for holidays
2. Should lectures be concentrated in a dedicated programme area
3. Can we tell about web technologies

[2020-02-24 15:52] Croftyland commented on #39
I'm trying to find out more information about this lyceum and their level of programming knowledge. On Wednesday will give further details

[2020-02-24 19:45] zonzujiro opened #40 "Docusaurus"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [x] Other

By/for
+ [x] kottans
+ [ ] non-kottans

Subject: Finish work on Docusaurus project

Term/duration: none

Keywords: online, website with documentation

Basic list of content https://telegra.ph/Spisok-kontenta-dlya-dokuzavra-02-22

In order to provide access to website, @Croftyland should publish it and then we will check inform

[2020-02-24 19:52] zonzujiro opened #41 "Facebook Communities program"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [x] Other

By/for
+ [x] kottans
+ [ ] non-kottans

Subject: Consider partnership in Facebook Community Leadership Program

Term/duration: none

Keywords: online

In order to become a participant in a program, we should send a letter to FB and get a list of requirements from them. Also, we need to obtain more information about the benefit

[2020-02-24 19:54] zonzujiro opened #42 "Create rules for Radio Kottans"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [x] Other

By/for
+ [x] kottans
+ [x] non-kottans

Subject:
- [x] rules and example of description for vacancies @zonzujiro
- [ ] rules for links which will be posted in Radio @AMashoshyna

Term/duration: none

Keywords: online

[2020-02-24 19:55] Croftyland commented on #40
On Friday going to make a first glance at the site

[2020-02-24 19:59] zonzujiro opened #43 "Patreon"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [x] Other

By/for
+ [x] kottans
+ [ ] non-kottans

Subject: We need to improve our [Patreon](https://www.patreon.com/kottans) page and start collecting profits!!!

For this, we should update the page with additional information: description of the community, add nice looking pictures and description of how patreons can support us.

After

[2020-02-24 20:04] zonzujiro opened #44 "Create platform chat"
This issue is about
+ [ ] Course
+ [ ] Event
+ [ ] Project
+ [x] Other

By/for
+ [ ] kottans
+ [x] non-kottans

Subject: We should gather leaders of other communities in one chat in order to:
- solve problems with clunches
- create one place where anyone can find someone for collaboration

Keywords: online/offline

For this, we should:

- [ ] Develop rules and description @zonzujiro
- [x] Create a

[2020-02-24 20:04] Croftyland commented on #43
What does it means nice looking pictures? Students? Activities? Platform project? Logo of kittens in different versions?

[2020-02-24 20:07] zonzujiro commented on #43
@Croftyland I don't have anything concrete on my mind right now. What usually is placed in the header of the page at Patreon?

We can take a picture which was used for youtube channel and FB page, if you want.

[2020-02-24 20:18] #37 closed

[2020-02-24 20:19] Croftyland commented on #43
@zonzujiro, I will leave here some basic ideas about how they should look like after finishing docusaurus

[2020-02-24 20:40] zonzujiro commented on #43
In general, I see our tactic with patreon in two ways:

### Easy go - mostly for alumni and those, who already know us in person

Update the current page with fresh content. We can use our default description, picture from youtube cover or else. Funds can go on coffee, stickers, t-shirts, anything else. Or probably something funny, like "Pay like kitten", "Pay like might Kottan", etc.

Then we can

[2020-02-25 00:03] Croftyland commented on #43
Definitely we take a hard mode. I will explain why.
Firstly, it’s obvious that one day we are going to think about global plans like Prometheus did. Why we should think and redo work twice?
Secondly, all steps which you mentioned we should do them. All of them are useful for success and full understanding of who we are and why we need it.
Thirdly, I think about @suchov and Roman to take a part in

[2020-02-25 08:46] Croftyland commented on #38
@zonzujiro @OleksiyRudenko what about 25th of May?

[2020-02-25 08:54] zonzujiro commented on #38
@Croftyland ok for me. As well as 30/05

[2020-02-25 09:06] Croftyland commented on #38
I’m all for 25th due to anniversary of our Inputconf

[2020-02-25 09:07] zonzujiro commented on #38
Then 25th :)

[2020-02-29 08:55] OleksiyRudenko opened #45 "Call for event -- entry point"
Call for event
 - info required to set up an event: https://telegra.ph/Dannye-dlya-nachala-provedeniya-02-22
 - initial entry form (prep'd by @OleksiyRudenko) -- [view](https://forms.gle/kjJfvvsLEUZW18KG9) / [edit](https://docs.google.com/forms/d/11Qa9Tu20E65nVTfGLs8ROmGNDhyIJr6SqqFCwT86KJ8/edit)

Actions:
 - add the link to form to the site @zonzujiro
 - convert necessary data to documentation -

[2020-02-29 09:19] OleksiyRudenko commented on #44
Shareable gCalendar link: https://calendar.google.com/calendar/b/2?cid=aW5wdXQuY29uZkBnbWFpbC5jb20
(based on input.conf@gmail.com acc)

[2020-02-29 09:27] zonzujiro commented on #42
Rules - https://telegra.ph/Pravila-Radio-Kottans-02-29

[2020-02-29 10:28] zonzujiro commented on #38
What you think regarding adding `type` attribute? Like "Input type="meetup" and "Input type="conference"?

[2020-02-29 10:33] OleksiyRudenko commented on #38
@zonzujiro +1
Please review #46

[2020-02-29 10:51] AMashoshyna commented on #39
Please find the attached link to form draft. Feedback would be highly appreciated.
As for subjects of possible lectures, based on discussion with @Croftyland  we could do something like:

1. Meta: asking right questions, looking for information, community, tooling
2. How the web works: what happens when you type google.com in your browser, with the accent on Chrome Dev tools(?)
3. AI workshop (ima

[2020-02-29 11:46] zonzujiro commented on #39
@AMashoshyna looks great!

1. "Оціни свої навички володіння комп'ютером:" - lets remove last option, because we have a next section with it
2. Missprint here - "Code, WebStrom, Atom тощо7"
3. Які терміни з наведених тобі знайомі (можеш пояснити власними словами)
  - should be checkbox
  - what is "Rayquaza"? :) https://www.pokemon.com/us/pokedex/rayquaza?
4. Які теми, пов'язані з програмуванням та

[2020-03-01 20:33] AnastasiiaMashoshyna commented on #39
@zonzujiro made fixes, thanks!
Yes, it's pokemon's name. Just to make sure the applicants only check what they actually know.

[2020-03-02 10:52] zonzujiro opened #47 "Internal meetup made by alumni"
**This issue is about**
+ [ ] Course
+ [ ] Conference
+ [ ] Workshop
+ [x] Meetup
+ [ ] Project
+ [ ] Other

**By/for**
+ [x] kottans
+ [ ] non-kottans

**Subject:** A place where participants of the Mentors School which are conducted by @Alimova - https://github.com/kottans/kottans-ongoing-projects/issues/48, can read their lectures.
It probably will happen after finishing of YDKJS course.

**Ter

[2020-03-02 10:54] zonzujiro commented on #47
@Alimova pls, provide a list with lecturers and topics.
Also, I gave basic descriptions from what you told me. If you find that something wrong or there is a lack of information - fill free to change it.

[2020-03-02 17:50] Alimova opened #48 "Kottans Mentors School"
This issue is about

- [x] Course
- [ ] Event
- [ ] Project
- [ ] Other

By/for

- [x] kottans
- [ ] non-kottans

**Subject:** Course for future Kottans mentors who would hold the next front-end course Sep 2020-May 2021

**Term/duration:** February 1st 2020 - September 1st 2020

**Keywords:** offline, Kiev, JS, soft skills, mentoring

**General description:**

**Aim:** course has in mind learn men

[2020-03-02 18:02] Alimova commented on #48
Report 06.02.2020
What was done:
- first speaker shared success story about how he became Kottans mentor - there was only course program and he was not experienced enough but engaged participants to look for answers together.
This encouraged mini-mentors not to stuck into their incompetence but go forward and try.
- brainstorming of how they see next course and what hey like to include
Home task f

[2020-03-02 18:07] Alimova commented on #48
Report 26.02.2020 - public speaking
Vitalik, Dasha and Vlad help speeches on chosen topics, got feedback and are planning to re-do these into bigger lectures for open audience
An idea of program grooming and code review automation was presented.
Home task:
Vlad - preparing workshop about grids for public speech within Kottans
Alex & Bodya - preparing 15 min speech for next meetup
others - gatherin

[2020-03-02 18:10] Alimova commented on #48
Plan for 12.03.2020
- штмшеув Anastasiia Chepka to hold success story spech
- listen and discuss speeches from Alex & Bodya
- discuss course feedback and make plan of what should be improved to meet expectations + clone current course repo and start improving it
- review current online course tasks and choose tools for whiting auto-tests (discuss an idea of hackaton)

[2020-03-02 18:11] Alimova commented on #48
Plan for 26.03.2020
Invited Stas Gavrylov to hold a speech with success story

[2020-03-02 18:12] Alimova commented on #47
Work In Progress:
Scrum for Kottans by Anna Alimova
Grids workshop by Vlad Vorobyov
more details to follow

[2020-03-02 19:03] zonzujiro commented on #48
@Alimova great job! Thank you for the detailed description. Excited and looking forward to update :)

First of all - this is a **lot** of job. So if you will fill, that you need some help - pls, contact me ASAP.

Couple thoughts:

Probably they can help us with some minor lectures or smth. Not something major, like framework.

This should be done by students? How they will get feedback? Ask their

[2020-03-02 19:32] zonzujiro commented on #48
Also, what you say, if we will have some sort of weekly or once in two weeks meeting or call, as an example, for a status update?
Or you can do it in a way which is more comfortable for you.

[2020-03-02 19:45] zonzujiro opened #49 "Watching party for CWO"
**This issue is about**
+ [ ] Course
+ [ ] Conference
+ [ ] Workshop
+ [ ] Meetup
+ [ ] Project
+ [x] Other

**By/for**
+ [x] kottans
+ [ ] non-kottans

**Subject:** Pre-record the talk.

On the day, invite the speaker and attendees to a chat channel (Slack, Twitter, etc..) Speaker answers questions live in chat while attendees are watching the talk.

Bonus: publish the Q&A.

**Term/duration:** do

[2020-03-02 20:36] suchov commented on #41
https://communities.fb.com/about-the-program/
https://communities.fb.com/faq/ - This is the pilot year of our residency and fellowship programs. Please stay tuned for upcoming opportunities to apply.

[2020-03-02 20:38] suchov commented on #41
As I remember the Idea was to keep working with all the marketing channels that we have, config the cross-posting for the FB and see how it goes then?
Will it work for now or should we close this issue and just keep working with FB just as a news feed...

[2020-03-02 20:54] zonzujiro commented on #41
Yes, I had the same idea. Let's focus on developing the group for now.

[2020-03-02 20:54] #41 closed

[2020-03-02 20:56] Alimova commented on #48
The point is to prepare mentors course attendees to be able to hold lectures by themselves. The entire idea of involving seniors works for this.
Why: there is lots of technical and organizational work around holding lectures. I believe that would not be the right usage for seniors skills just making them give lectures. I want them to mentor future lecturers to hold lectures in highest standards by

[2020-03-02 20:59] Alimova commented on #48
Works for me. I consider the most convenient way as two steps:
1. Writing report and plan for next events
2. Discussing the report in personal (rather online or offline depending on ongoing activities)
Saturday in Star looks good for next few weeks. Let's try how it goes.

[2020-03-02 21:18] zonzujiro commented on #48
So summary meanwhile:

I DO agree with lectures by mini-mentors, but only simple ones. They do not have skills for hard technical things. Even with the help of seniors, they have a lack of experience and because of this, the level of talk itself will be low. Probably let's discuss this one more time at Saturday.

I prefer not to stick to opinions only from seniors if possible. @OleksiyRudenko had

[2020-03-03 09:36] Croftyland commented on #43
https://docs.google.com/document/d/1-NUNuqHcayaDuqbS4lI6GdQdgaDrq73LxcHNQTCqmtY

Can you please check text and give your opinion about it

[2020-03-03 09:39] zonzujiro commented on #43
LGTM. I can tell about the Platform, conferences and other activities.

[2020-03-03 09:46] Croftyland commented on #43
Don’t forget that video should be less than 40sec. I saw video about Prometheus. It was completely boring and it was enough for me turn off less than 1 min

[2020-03-03 10:09] zonzujiro commented on #43
What timing I have?

[2020-03-03 10:12] Croftyland commented on #43
Add text which you want to hear in promo. Just want to mention that it shouldn’t be huge and filled with accurate information.

[2020-03-03 10:47] zonzujiro commented on #39
I have sent form to RR at Monday.
Waiting for response

[2020-03-03 11:12] Alimova commented on #48
You're right, they are not ready yet. But we have time till September for them to gain experience. We'll have enough information to solve if they are ready before the course starts. My idea was to let them practice their teaching skills to make them good enough. Let's see how it works.

Meanwhile the general idea of involving seniors consists of several steps:
1. We first ask for minor help such a

[2020-03-03 13:14] zonzujiro commented on #48
You just targeting another type of seniors. No need to merge them, IMO.

The first type - lecturers. We can read parts as a framework or vanilla js by ourselves. The second - is personal mentors. And this is your group.
If someone from second group will have a desire to come into first - ok. It would be good. If no - not a big problem.

Not sure what you comparing here. Can you please clarify what

[2020-03-03 13:46] Croftyland commented on #43
@zonzujiro @OleksiyRudenko how have you synchronized microphone and video during input promo-videos?

Is it possible to get the result by OBS app?

[2020-03-03 14:35] zonzujiro commented on #43
@Croftyland we have connected microphone and camera to notebook thru OSB

[2020-03-03 14:36] Croftyland commented on #43
@OleksiyRudenko is it possible to get microphone next time?

[2020-03-03 16:26] OleksiyRudenko commented on #43
1. Will have a mic next time. Please note, it requires USB type A socket.
2. FYI OBS setup we used for streaming and stream recording: https://gist.github.com/OleksiyRudenko/183e6177c44a9854d39445825083bda1

[2020-03-03 16:40] zonzujiro commented on #43
I have an adapter from Type C, if smth

[2020-03-03 16:52] Croftyland commented on #43
I have passed all instructions but better to have extra computer. Thanks @zonzujiro and @OleksiyRudenko

[2020-03-04 08:19] AMashoshyna commented on #48
As an idea: on Coursera and similar MOOC-platforms there is a concept of teaching assistants (TAs). Those are young teachers who support main lecturer's work:  monitor forums and answer questions they can (or forward them to the professor), help solving any setup problems etc. In CS50 they also make short explanatory videos which support main lecture.
I believe we can take this model for our mini-

[2020-03-04 10:49] OleksiyRudenko commented on #43
@Croftyland what do you mean by "extra computer"? The point is to have the entire setup on a single device

[2020-03-04 10:58] Croftyland commented on #43
@OleksiyRudenko, I meant that if something went wrong, would be great tho have another one for quick change

[2020-03-04 21:19] Croftyland commented on #38
I have already agreements from 2 speakers. At the end of March will ask ideas about presentations

Maybe during fwday will propose someone else

[2020-03-05 06:15] zonzujiro commented on #38
Pls, add their names into our googlesheet, if you not yet.

[2020-03-05 06:19] Croftyland commented on #38
Where I can find it?

[2020-03-05 12:52] Croftyland commented on #40
@AMashoshyna plz check articles
@OleksiyRudenko  here repo where you can fill issues [kottans|docu](https://github.com/Croftyland/junior)

Sonner will fix
• animation
• pictures in youtube
•  add .md file with all activities in telegram

[2020-03-07 10:00] zonzujiro commented on #49
# Ukraine is "outsource country"

## Short story

Ukrainian IT companies are mostly working as outsource for the USA, EU, etc. So, as a consequence, we don't have product culture in our country similar to Israel, as an example.

This brings us to the fact, that we have our specific problems. As an example:
- developers don't have a culture of owning the product - all problems are not problems of m

[2020-03-07 12:01] zonzujiro commented on #49
# Custom technical solutions

## Short story

Sometimes we make choice - use existing library/framework/solution or develop own. What problems has a homemade inner product from point of view of business?
I mean not a tool, but more like general stuff. Alternatives for React/Angular, Redux, etc.

## Situations

**Your developer comes to you and asks your opinion about implementing a homemade soluti

[2020-03-07 12:26] zonzujiro opened #50 "RFC: Summary Frontend Course"
**This issue is about**
+ [x] Course
+ [ ] Conference
+ [ ] Workshop
+ [ ] Meetup
+ [ ] Project
+ [ ] Other

**By/for**
+ [x] kottans
+ [ ] non-kottans

**Subject:** We should formalize summary about FE course

**General description:**

## Weak spots

- Low level of technical knowledge of alumni
- To much work with code review during offline and online part
- There are some redundant lectures in t

[2020-03-08 14:29] zonzujiro commented on #38
Preply have asked Call for sponsors paper.
Will make it later and share

[2020-03-08 14:30] zonzujiro commented on #39
Till this day there is no answers in our form, so we can move this into backlog.

[2020-03-08 14:30] #39 closed

[2020-03-09 08:55] Croftyland commented on #38
Wrote down speakers who willing for participation in meetup

[2020-03-09 12:20] AMashoshyna commented on #50
Do you think having some advanced JS lectures (like Promise workshop last year) would be redundant?

[2020-03-09 12:37] AMashoshyna commented on #42
I like the rules! Should we maybe elaborate on the first paragraphs just a little?

Ми хочему бути впевненими у вакансіях, які оприлюднюємо на нашому каналі, тому вакансія має відповідати одному з цих правил:
1.
2.
3.

Також, опис вакансії має бути у human friendly форматі. Просимо описати вакансію власними словами у вільній формі, не копіювати текст з офіційної вакансії. Опишіть, якого фахівця шу

[2020-03-09 12:47] AMashoshyna commented on #42
https://telegra.ph/Pravila-publ%D1%96kac%D1%96i-vakans%D1%96j-u-kanal%D1%96-Radio-Kottans-03-09

Take a look please (not sure if this version is not too verbose)

[2020-03-09 13:25] zonzujiro commented on #50
@AMashoshyna what advanced JS you have in mind? For `Promise` sync/async from YDKJS can do the job.

[2020-03-09 13:27] zonzujiro commented on #42
@AMashoshyna great! I agree.
So only rules for links left.

[2020-03-09 14:19] AMashoshyna commented on #50
@zonzujiro do you mean to use the ydkjs materials for online phase or offline too?

[2020-03-09 14:21] zonzujiro commented on #50
@AMashoshyna I was thinking about couple lectures for offline part.

At online - only reimplementing JS API.

What do you think?

[2020-03-09 15:45] AMashoshyna commented on #50
@zonzujiro yes, this was my understanding too

[2020-03-10 09:53] #42 closed

[2020-03-10 11:48] zonzujiro commented on #49
A general idea, for now, is to take two HR's and with their help generate some topics which can be interesting for lectures and helpful for listeners.

HR from Preply already agreed to take part in this activity. They have managers who worked in Booking and SkyScanner and probably will be glad to tell something on camera.

Also, I will speak with another HR, which also working in some product comp

[2020-03-10 11:49] zonzujiro commented on #49
Added general situations to descriptions, just to provide some context to questions.

[2020-03-10 14:27] OleksiyRudenko commented on #49
@zonzujiro pretty good progress, grats.
As for the topics I can see approaches as follows:
1) what listeners would like to learn/know (hey guys, we're gonna have Jeff Musk, Bill Jobs and Sergey Zuckerberg online somewhere in mid-April; what would you like to learn from him?)
2) what a CWO wants to tell (hey Jeff, we're gonna gather 100500 Ukrainian devs somewhere in mid-April; is there anything yo

[2020-03-10 16:39] zonzujiro commented on #50
@Alimova could you please gather opinion from students, so we can analyze it and add to an RFC?

Then, we will understand what to do next.

[2020-03-10 16:48] Alimova commented on #50
Started gathering feedback in here: https://docs.google.com/spreadsheets/d/1OZ-sEsXm-6dCKR9Rn_21MGPU4yJX8eE8Lf4buvThMxs/edit#gid=0

List of questions by now:
1. What was the most useful from the whole course in your first job?
2. What knowledge you felt like missing?
3. What is the most memorable from the whole course?

As long as we're planning to upgrade plain JS part I believe I have to add som

[2020-03-10 19:39] zonzujiro commented on #50
@Alimova thank you for the feedback!

Useful information which we can take to consider if we will start a new program:

1. We should add practice with TypeScript
2. Possible we should consider adding more practice about Git, as which was conducted by @OleksiyRudenko
3. Probably, we should consider adding the final project as DOD, instead of tests
4. Lecture about Agile and Scrum. Maybe you can tak

[2020-03-10 19:56] AMashoshyna commented on #50
@zonzujiro we had a lot of lectures on testing and TDD in particular, starting from FizzBuzz and ending with Puppeteer

[2020-03-10 19:58] zonzujiro commented on #50
@AMashoshyna it would be great to adapt something from them. But we don't have so much time as on kickstart. Anyway, we should think about it.

[2020-03-10 20:00] AMashoshyna commented on #50
@zonzujiro sure, it would be nice to invite lecturers who practice TDD and can teach it.

[2020-03-10 20:01] Croftyland commented on #50
I'm preparing now for the interview and making some practical task. If it is interesting for you, can share a repo with theoretical and practical part

[2020-03-10 20:03] zonzujiro commented on #50
Yes, share of course. Just remember, that if this repo was provided by company you attend for, such stuff can be private.

[2020-03-10 20:07] Croftyland commented on #50
Firstly, I'm showing you. Take feedbacks and then decide how to implement it in our courses.

[2020-03-11 08:10] AMashoshyna commented on #50
Many student mentioned that they missed big projects and real-life tasks. I was thinking  what they actually mean by this and how we could give them that feeling, but couldn't come up with an idea.

Of course, compared to real-life project Weather app lacks the uncertainty, when you need to implement a feature, but don't know the project completely, because it is too big to know. But that's all I

[2020-03-11 13:42] zonzujiro commented on #50
@OleksiyRudenko provided link to feedbacks after lectures - https://drive.google.com/drive/u/0/folders/1_9i6rzo8wRvHwCuukaUd1XcCLNmcQx88

I believe we can get some useful info from them also.

[2020-03-11 15:06] zonzujiro commented on #50
BTW, instead of reading a lecture about TS, we can try to build all offline course on it. I don't think that it will be too hard for students, because we don't have complex code.

[2020-03-11 15:37] AMashoshyna commented on #50
That's what we did a Kickstart - just started with TS and did all other subjects based on TS code

[2020-03-11 16:15] Alimova commented on #50
They expect project they build not from scratch but have a chance to dig into code someone else written and alter it. They expect to collaborate and work in groups. Maybe some kind of graduation project. Or kind of open source hackaton.

[2020-03-11 16:17] Alimova commented on #50
Anytime our students are ready. I would suggest to hold it nearest time when quarantine is over.

[2020-03-11 16:33] zonzujiro commented on #50
I mean during a course :)

It will be hard to produce something like this by ourselves. Maybe really some OSS project, but they usually have quite simple tasks - fix translation, fix codestyle.

That was my idea also.

@AMashoshyna but you had some introduction lecture, right? Then simple pet-project and we are ready to go?

[2020-03-11 20:22] OleksiyRudenko commented on #50
Community calendar?
- Google Calendar API
- GCS hosting
- DOU, AIN et al scraping
- finally, nice alternative Google Cal web-client with subscription, filters, and Black Jack

[2020-03-12 10:48] zonzujiro commented on #49
Example of format https://twitter.com/lunivore/status/1237383325045710848

[2020-03-12 11:00] zonzujiro commented on #49
@OleksiyRudenko I also hoped that you can share some situations from your personal experience :)

[2020-03-14 19:47] Alimova commented on #50
Guys, may we involve them in some kind of Kottans needs? Such as new tool for us. I would suggest something that works with GitHub API such as analytics that shows progress on pull requests. The tool we always wanted but never had time for. I believe this would inspire them and give a good peace of collaboration and experience.

[2020-03-14 23:07] zonzujiro commented on #50
Ehm... we wanted some tool? Do you have something more concrete in mind?

[2020-03-16 09:01] AMashoshyna commented on #50
Do you see it as a replacement for some task or as addition to existing program?
I would suggest to move towards tasks which are easily tested automatically. With this task since we do not have a unified UI I hardly imagine we can write tests.

[2020-03-18 05:45] Alimova commented on #50
I see it as a graduation project by the end of the course. This is not one of common tasks, every year will got their own

[2020-03-18 13:37] sudodoki commented on #50
based on what I previously encountered, best experience with final project was not when everything on project had to be done in some specific timeframe right before graduation, but some time was spent during whole course, with some homeworks being specifically about coming up with the project, repeating thing similar to homework but for the project (like setting up linters/builders/etc for both ho

[2020-04-06 09:13] Croftyland commented on #40
Finished the project

@zonzujiro, can I close the issue?

[2020-04-07 09:55] Croftyland commented on #43
Video is ready to get up on stage

@suchov can you share access for Patreon?

[2020-04-13 13:26] suchov commented on #43
done

[2020-04-13 14:33] #43 closed

[2020-04-13 14:33] zonzujiro commented on #43
@suchov yes, it is.

@Croftyland thank you for an amazing job!

[2020-04-13 14:38] zonzujiro commented on #40
@Croftyland didn't saw the comment. Sorry.

Thank you very much :) Let's close it!

[2020-04-13 14:38] #40 closed

[2020-05-11 12:47] #48 closed, assigned to Alimova

[2020-05-11 12:47] #45 closed

[2020-05-11 12:47] #44 closed

[2020-05-11 12:48] #49 closed, assigned to zonzujiro

[2020-05-12 14:05] OleksiyRudenko opened #51 "Open mic / Kottans Webinar Series"
**This issue is about**
+ [ ] Course
+ [ ] Conference
+ [ ] Workshop
+ [x] Meetup
+ [ ] Project
+ [ ] Other

**By/for**
+ [x] kottans
+ [x] non-kottans

**Subject:** Launch a series of webinars

**Term/duration:** Continuous

**Keywords:** online, technical, non-technical, workshops

**General description:**
The target is to deliver a webinar every other week when no ongoing courses in place to bo

[2020-05-12 14:33] sudodoki commented on #51
Wow, cool idea :clap:

Do you think it will take only 2 weeks to prepare a talk or do you think about trying to pile up multiple talks so people will have more than 2 week to prepare?

[2020-05-13 06:57] OleksiyRudenko commented on #51
The latter.
Expectation is that 1 or 2 of the topics are less sir more in beta state (e.g. love coding requires less preps) so that remaining 3 or 4 have some spare time to get prepared. Of course, if they (or any) are meeting demand

[2020-05-28 09:30] zonzujiro commented on #47
Instead of meetup we will organize open mic for alumni of this course - https://github.com/kottans/kottans-ongoing-projects/issues/51

[2020-05-28 09:31] #47 closed, assigned to Alimova

[2020-07-29 11:05] #50 closed, assigned to nobody

[2021-05-10 21:59] kronicka opened #52 "Tech Interview Prep/LeetCode Study Group"
**This issue is about**
+ [ ] Course
+ [ ] Conference
+ [ ] Workshop
+ [ ] Meetup
+ [ ] Project
+ [x] Other -- Study Group

**By/for**
+ [x] kottans
+ [x] non-kottans

**Subject:** A study group to do LeetCode-like problems twice+ a week.

**Term/duration:**
Duration:
- Indefinite duration, but see if the incentive can last the month of June.
- Twice a week. Tuesdays, Thursdays + Saturdays, if you

[2021-05-11 05:30] smillims commented on #52
Hey, good idea! But I would suggest learning online, not offline 🥸, because many people here from different cities and countries.

[2021-05-11 13:56] kronicka commented on #52
Hey, thanks for the response! My apologies, for whatever reason, I was under the impression it's a Kyiv-centric group. Likely because of the search terms I used to find it (:

The online format is fantastic, but doesn't quite work as well as the in-person meetings for this specific purpose for me. I would still like to gather with at least a single accountability buddy. I'm very open to any recomm